### Imports

In [5]:
%load_ext autoreload
%autoreload 2
%load_ext lab_black

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [6]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras import layers
from tensorflow.keras.initializers import Constant
from test_scripts.load_images import get_video_seq
from utils.utility_functions import listdir_nohidden_sorted as lsdir
from vision.vision_utils.video_seq_generator import VideoSeqGenerator
import pandas as pd
import numpy as np
import cv2
import matplotlib.pyplot as plt
from random import randrange
from sklearn.preprocessing import LabelBinarizer

### Paths

In [7]:
MED_FALL = "/home/jovyan/work/MED_Fall"
GROUND_TRUTH_PATH = f"{MED_FALL}/vision/vision_dataset/ground_truth_new"
FRAMES_PATH = f"{MED_FALL}/vision/vision_dataset/extracted_frames"

### Utility Functions

In [8]:
def get_cam(name: str) -> int:
    """
    Extract cam number from each video frame name
    ------

    arguments:
        - name: string containing the frame name. Examle: 'Actor_1_bed_cam_1_0000'

    outputs:
        - cam_number: integer containg the cam number of the provided frame name.
                    Example: if name is 'Actor_1_bed_cam_1_0000', cam_number is: 1.
    """

    start = name.find("cam_")
    ind = start + 4
    cam_number = name[ind]
    return int(cam_number)


def show_frames_series(
    frames_series: np.array, title: str, figsize: tuple[int, int] = (20, 20)
):
    """
    plot a series of SEQ_LEN frames with respective labels as titles.
    --------

    arguments:
        - frames_series: np.array containg SEQ_LEN images.
        - title: strcontainging the label of the series of frame. The label is calculated as the mode (most frequent label) of the single frames' labels.
        - fig_size: Optional. Tuple of two integers containing the figure dimensions for the plot. Default is (20, 20).

    """
    rows = 5

    fig = plt.figure(figsize=figsize)
    for n, image in enumerate(frames_series):
        a = fig.add_subplot(rows, int(len(frames_series) / float(rows)), n + 1)

        plt.imshow(image)
        plt.axis("off")
    fig.suptitle(title)
    plt.show()

### Hyperparameters

In [9]:
SEQ_LEN: int = 20
BATCH_SIZE: int = 32
INPUT_SHAPE: tuple[int, int, int] = (112, 112, 3)

## Load Dataset

In [10]:
# Load all csv files (one per actor). Each file contains frames names and respective labels.
dfs = []
for file in lsdir(GROUND_TRUTH_PATH):
    df = pd.read_csv(file)
    dfs.append(df)
# concatenate all csv files in one pandas DF
dataset = pd.concat(dfs, ignore_index=True, axis=0)
dataset = dataset.iloc[:, 2:]
dataset

,micro_labels,macro_labels,ar_labels,frame_name
0,lie_still,lying_down,actor_repositioning,actor_1_bed_cam_1_0000
1,lie_still,lying_down,actor_repositioning,actor_1_bed_cam_1_0001
2,lie_still,lying_down,actor_repositioning,actor_1_bed_cam_1_0002
3,lie_still,lying_down,actor_repositioning,actor_1_bed_cam_1_0003
4,lie_still,lying_down,actor_repositioning,actor_1_bed_cam_1_0004
...,...,...,...,...
1182295,stand_up_from_floor,adl,actor_repositioning,actor_4_chair_full_ph_cam_7_4615
1182296,stand_up_from_floor,adl,actor_repositioning,actor_4_chair_full_ph_cam_7_4616
1182297,stand_up_from_floor,adl,actor_repositioning,actor_4_chair_full_ph_cam_7_4617
1182298,stand_up_from_floor,adl,actor_repositioning,actor_4_chair_full_ph_cam_7_4618
1182299,stand_up_from_floor,adl,actor_repositioning,actor_4_chair_full_ph_cam_7_4619

In [11]:
# Select only "on_air" frames (where actors are performing sequences)
dataset_onair = dataset.loc[dataset["ar_labels"] == "on_air"].copy()
dataset_onair

,micro_labels,macro_labels,ar_labels,frame_name
206,sit_up_from_lying,adl,on_air,actor_1_bed_cam_1_0206
207,sit_up_from_lying,adl,on_air,actor_1_bed_cam_1_0207
208,sit_up_from_lying,adl,on_air,actor_1_bed_cam_1_0208
209,sit_up_from_lying,adl,on_air,actor_1_bed_cam_1_0209
210,sit_up_from_lying,adl,on_air,actor_1_bed_cam_1_0210
...,...,...,...,...
1182213,crouched_still,falling,on_air,actor_4_chair_full_ph_cam_7_4533
1182214,crouched_still,falling,on_air,actor_4_chair_full_ph_cam_7_4534
1182215,crouched_still,falling,on_air,actor_4_chair_full_ph_cam_7_4535
1182216,crouched_still,falling,on_air,actor_4_chair_full_ph_cam_7_4536
1182217,crouched_still,falling,on_air,actor_4_chair_full_ph_cam_7_4537

In [12]:
# check on_air dataset samples per class
dataset_onair["macro_labels"].value_counts()

adl           269836
falling        88312
lying_down     27958
Name: macro_labels, dtype: int64

In [13]:
# instantiate and fit a OneHotEncoder for the macro classes (adl, fall, lie_down)
le = LabelBinarizer()
le.fit(dataset_onair["macro_labels"])
le_name_mapping = dict(zip(le.classes_, le.transform(le.classes_)))
le_name_mapping

{'adl': array([1, 0, 0]),
 'falling': array([0, 1, 0]),
 'lying_down': array([0, 0, 1])}

## Balance dataset

In [26]:
dataset_balanced = dataset_onair.copy()  # make a copy of on_air dataset

counts = dataset_balanced["macro_labels"].value_counts()  # count samples per class
minority_class_samples = counts[-1]  # store minority class samples

# select adl samples
adl_samples = dataset_onair.loc[dataset["macro_labels"] == "adl"]

# select fall samples
fall_samples = dataset_onair.loc[dataset["macro_labels"] == "falling"]

## subsample

# count exceeding adl samples wrt minority_class_samples
adl_todrop_ind = len(adl_samples) - minority_class_samples
# count exceeding fall samples wrt minority_class_samples
fall_todrop_ind = len(fall_samples) - minority_class_samples

# select indices to drop from adl subset
adl_samples_to_drop = adl_samples.iloc[-adl_todrop_ind:]

# select indices to drop from fall subset
fall_samples_to_drop = fall_samples.iloc[-fall_todrop_ind:]

# actually drop exceeding adl samples
dataset_balanced.drop(adl_samples_to_drop.index, axis=0, inplace=True)

# actually drop exceeding fall samples
dataset_balanced.drop(fall_samples_to_drop.index, axis=0, inplace=True)

# count samples per class of the balanced dataset
dataset_balanced["macro_labels"].value_counts()

adl           27958
falling       27958
lying_down    27958
Name: macro_labels, dtype: int64

## Train test split

In [27]:
# Take first 90% of the balanced dataset as train data and remaining 10% as val data.
# NB: no shuffling is applied as frames must be consecutive to later split them in time-series.
split_ratio = 0.7
split = int(len(dataset_balanced) * split_ratio)
train_set = dataset_balanced.iloc[:split, :].copy()
val_set = dataset_balanced.iloc[split:, :].copy()

In [28]:
# show train set
train_set

                 micro_labels macro_labels ar_labels               frame_name
206         sit_up_from_lying          adl    on_air   actor_1_bed_cam_1_0206
207         sit_up_from_lying          adl    on_air   actor_1_bed_cam_1_0207
208         sit_up_from_lying          adl    on_air   actor_1_bed_cam_1_0208
209         sit_up_from_lying          adl    on_air   actor_1_bed_cam_1_0209
210         sit_up_from_lying          adl    on_air   actor_1_bed_cam_1_0210
...                       ...          ...       ...                      ...
274431  lie_down_on_the_floor   lying_down    on_air  actor_1_walk_cam_2_1971
274432  lie_down_on_the_floor   lying_down    on_air  actor_1_walk_cam_2_1972
274433  lie_down_on_the_floor   lying_down    on_air  actor_1_walk_cam_2_1973
274434  lie_down_on_the_floor   lying_down    on_air  actor_1_walk_cam_2_1974
274435  lie_down_on_the_floor   lying_down    on_air  actor_1_walk_cam_2_1975

[58711 rows x 4 columns]

In [29]:
# show val set
val_set

,micro_labels,macro_labels,ar_labels,frame_name
274436,lie_down_on_the_floor,lying_down,on_air,actor_1_walk_cam_2_1976
274437,lie_down_on_the_floor,lying_down,on_air,actor_1_walk_cam_2_1977
274438,lie_down_on_the_floor,lying_down,on_air,actor_1_walk_cam_2_1978
274439,lie_down_on_the_floor,lying_down,on_air,actor_1_walk_cam_2_1979
274440,lie_down_on_the_floor,lying_down,on_air,actor_1_walk_cam_2_1980
...,...,...,...,...
1179952,lie_down_on_the_floor,lying_down,on_air,actor_4_chair_full_ph_cam_7_2272
1179953,lie_down_on_the_floor,lying_down,on_air,actor_4_chair_full_ph_cam_7_2273
1179954,lie_down_on_the_floor,lying_down,on_air,actor_4_chair_full_ph_cam_7_2274
1179955,lie_down_on_the_floor,lying_down,on_air,actor_4_chair_full_ph_cam_7_2275
1179956,lie_down_on_the_floor,lying_down,on_air,actor_4_chair_full_ph_cam_7_2276

In [30]:
# show samples per class in each set
print(train_set["macro_labels"].value_counts())
print(val_set["macro_labels"].value_counts())

adl           27958
falling       20358
lying_down    10395
Name: macro_labels, dtype: int64
lying_down    17563
falling        7600
Name: macro_labels, dtype: int64

## Instantiate train and val generators

In [66]:

train_gen = VideoSeqGenerator(frames_path=FRAMES_PATH,
                        df = dataset_copy,
                        seq_len = SEQ_LEN,
                        batch_size = BATCH_SIZE,
                        label_encoder = le,
                        input_shape = INPUT_SHAPE,
                       )

In [ ]:
val_gen = VideoSeqGenerator(frames_path=FRAMES_PATH,
                        df = val_set,
                        seq_len = SEQ_LEN,
                        batch_size = BATCH_SIZE,
                        label_encoder = le,
                        input_shape = INPUT_SHAPE,
                       )

### Plot a frames series from first batch

In [1]:
#get first batch from train generator
batch_X, batch_y = train_gen.__getitem__(101)
print("batch_X.shape:", batch_X.shape, "batch_y.shape:", batch_y.shape)

b = 3
frames = batch_X[b]
title = np.expand_dims(batch_y[b],axis=0)
title = le.inverse_transform(title)[0]
title

show_frames_series(frames, title, figsize=(10,10))

NameError: name 'train_gen' is not defined

In [ ]:
# problema: nel batch, in ciascuna delle 32 serie, le 20 immagini sono uguali. Controllare.

first_image_batch_0 = batch_X[0][0]
first_image_batch_31 = batch_X[1][0]
#print(first_serie.shape, last_serie.shape)

In [ ]:
plt.imshow(first_image_batch_0)

In [ ]:
plt.imshow(first_image_batch_31)

In [ ]:
(first_serie[0] == last_serie[0]).sum()

In [ ]:
(first_serie[0] != last_serie[0]).sum()

In [ ]:
b = 2
frames_seq = batch_X[b]
title = np.expand_dims(np.array(batch_y[b]), axis=0)
title = le.inverse_transform(title)[0]

frames_seq.shape[0]
#show_frames_series(frames_series=frames_seq, title=title)

In [ ]:
batch_X[b][0].shape

In [ ]:
pd.Series(train_gen.classes_).value_counts()

In [ ]:
pd.Series(val_gen.classes_).value_counts()

In [76]:
train_gen.df

,micro_labels,macro_labels,ar_labels,frame_name,cam,actor_seq
206,sit_up_from_lying,adl,on_air,actor_1_bed_cam_1_0206,1,1_bed
207,sit_up_from_lying,adl,on_air,actor_1_bed_cam_1_0207,1,1_bed
208,sit_up_from_lying,adl,on_air,actor_1_bed_cam_1_0208,1,1_bed
209,sit_up_from_lying,adl,on_air,actor_1_bed_cam_1_0209,1,1_bed
210,sit_up_from_lying,adl,on_air,actor_1_bed_cam_1_0210,1,1_bed
...,...,...,...,...,...,...
1179952,lie_down_on_the_floor,lying_down,on_air,actor_4_chair_full_ph_cam_7_2272,7,4_chair_full_ph
1179953,lie_down_on_the_floor,lying_down,on_air,actor_4_chair_full_ph_cam_7_2273,7,4_chair_full_ph
1179954,lie_down_on_the_floor,lying_down,on_air,actor_4_chair_full_ph_cam_7_2274,7,4_chair_full_ph
1179955,lie_down_on_the_floor,lying_down,on_air,actor_4_chair_full_ph_cam_7_2275,7,4_chair_full_ph
1179956,lie_down_on_the_floor,lying_down,on_air,actor_4_chair_full_ph_cam_7_2276,7,4_chair_full_ph

In [ ]:
val_gen.df

### Metrics

In [77]:
    metrics=[
        tf.keras.metrics.CategoricalAccuracy(),
        tf.keras.metrics.Recall(class_id=0, name="adl"),
        tf.keras.metrics.Recall(class_id=1, name="fall"),
        tf.keras.metrics.Recall(class_id=2, name="lying_down"),
    ]

2022-08-22 12:43:13.197121: I tensorflow/core/platform/cpu_feature_guard.cc:142] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.1 SSE4.2 AVX AVX2 AVX512F FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2022-08-22 12:43:13.605724: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1510] Created device /job:localhost/replica:0/task:0/device:GPU:0 with 21353 MB memory:  -> device: 0, name: NVIDIA RTX A5000, pci bus id: 0000:65:00.0, compute capability: 8.6

## Define 3D CNN Model

In [78]:
model = Sequential()
model.add(layers.Input(shape=(SEQ_LEN,) + INPUT_SHAPE))
model.add(layers.Rescaling(scale=1./255))
model.add(layers.Conv3D(64,(3,3,3),activation='relu', padding='same'))
model.add(layers.MaxPooling3D((1,2,2), strides=(1,2,2), padding='same'))
model.add(layers.Conv3D(128,(3,3,3),activation='relu', padding='same'))
model.add(layers.MaxPooling3D((2,2,2), padding='same'))
model.add(layers.Conv3D(256,(3,3,3),activation='relu', padding='same'))
model.add(layers.Conv3D(256,(2,2,2),activation='relu', padding='same'))
model.add(layers.MaxPooling3D((2,2,2), padding='same'))
model.add(layers.Conv3D(512,(3,3,3),activation='relu', padding='same'))
model.add(layers.Conv3D(512,(2,2,2),activation='relu', padding='same'))
model.add(layers.MaxPooling3D((2,2,2), padding='same'))
model.add(layers.Conv3D(512,(3,3,3),activation='relu', padding='same'))
model.add(layers.Conv3D(512,(2,2,2),activation='relu', padding='same'))
model.add(layers.MaxPooling3D((2,2,2), padding='same'))
model.add(layers.Flatten())
model.add(layers.Dense(4096,'relu'))
model.add(layers.Dense(4096,'relu'))
model.add(layers.Dense(3,'softmax'))
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
rescaling (Rescaling)        (None, 20, 112, 112, 3)   0
_________________________________________________________________
conv3d (Conv3D)              (None, 20, 112, 112, 64)  5248
_________________________________________________________________
max_pooling3d (MaxPooling3D) (None, 20, 56, 56, 64)    0
_________________________________________________________________
conv3d_1 (Conv3D)            (None, 20, 56, 56, 128)   221312
_________________________________________________________________
max_pooling3d_1 (MaxPooling3 (None, 10, 28, 28, 128)   0
_________________________________________________________________
conv3d_2 (Conv3D)            (None, 10, 28, 28, 256)   884992
_________________________________________________________________
conv3d_3 (Conv3D)            (None, 10, 28, 28, 256)   524544
_________________________________________________________________
max_pooling3d_2 (MaxPooling3 (None, 5, 14, 14, 256)    0
_________________________________________________________________
conv3d_4 (Conv3D)            (None, 5, 14, 14, 512)    3539456
_________________________________________________________________
conv3d_5 (Conv3D)            (None, 5, 14, 14, 512)    2097664
_________________________________________________________________
max_pooling3d_3 (MaxPooling3 (None, 3, 7, 7, 512)      0
_________________________________________________________________
conv3d_6 (Conv3D)            (None, 3, 7, 7, 512)      7078400
_________________________________________________________________
conv3d_7 (Conv3D)            (None, 3, 7, 7, 512)      2097664
_________________________________________________________________
max_pooling3d_4 (MaxPooling3 (None, 2, 4, 4, 512)      0
_________________________________________________________________
flatten (Flatten)            (None, 16384)             0
_________________________________________________________________
dense (Dense)                (None, 4096)              67112960
_________________________________________________________________
dense_1 (Dense)              (None, 4096)              16781312
_________________________________________________________________
dense_2 (Dense)              (None, 3)                 12291
=================================================================
Total params: 100,355,843
Trainable params: 100,355,843
Non-trainable params: 0
_________________________________________________________________

### Compile Model

In [79]:
model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=metrics)

### Fit Model

In [ ]:
history = model.fit(train_gen, epochs=20)

2022-08-22 12:43:39.129947: I tensorflow/compiler/mlir/mlir_graph_optimization_pass.cc:185] None of the MLIR Optimization Passes are enabled (registered 2)

Epoch 1/20

2022-08-22 12:43:40.759279: I tensorflow/stream_executor/cuda/cuda_dnn.cc:369] Loaded cuDNN version 8201
2022-08-22 12:43:45.550699: I tensorflow/stream_executor/cuda/cuda_blas.cc:1760] TensorFloat-32 will be used for the matrix multiplication. This will only be logged once.

131/131 [==============================] - 68s 388ms/step - loss: 1.2410 - categorical_accuracy: 0.3106 - adl: 0.0093 - fall: 0.0000e+00 - lying_down: 0.0000e+00
Epoch 2/20
131/131 [==============================] - 52s 394ms/step - loss: 1.0999 - categorical_accuracy: 0.3211 - adl: 0.0000e+00 - fall: 0.0000e+00 - lying_down: 0.0000e+00
Epoch 3/20
131/131 [==============================] - 52s 392ms/step - loss: 1.0994 - categorical_accuracy: 0.3049 - adl: 0.0000e+00 - fall: 0.0000e+00 - lying_down: 0.0000e+00
Epoch 4/20
131/131 [==============================] - 52s 390ms/step - loss: 1.0994 - categorical_accuracy: 0.2994 - adl: 0.0000e+00 - fall: 0.0000e+00 - lying_down: 0.0000e+00
Epoch 5/20
131/131 [==============================] - 52s 391ms/step - loss: 1.0989 - categorical_accuracy: 0.3099 - adl: 0.0000e+00 - fall: 0.0000e+00 - lying_down: 0.0000e+00
Epoch 6/20
131/131 [==============================] - 52s 392ms/step - loss: 1.0993 - categorical_accuracy: 0.2963 - adl: 0.0000e+00 - fall: 0.0000e+00 - lying_down: 0.0000e+00
Epoch 7/20
131/131 [==============================] - 52s 392ms/step - loss: 1.0990 - categorical_accuracy: 0.3161 - adl: 0.0000e+00 - fall: 0.0000e+00 - lying_down: 0.0000e+00
Epoch 8/20
131/131 [==============================] - 52s 392ms/step - loss: 1.0988 - categorical_accuracy: 0.3261 - adl: 0.0000e+00 - fall: 0.0000e+00 - lying_down: 0.0000e+00
Epoch 9/20
131/131 [==============================] - 52s 393ms/step - loss: 1.0988 - categorical_accuracy: 0.3359 - adl: 0.0000e+00 - fall: 0.0000e+00 - lying_down: 0.0000e+00
Epoch 10/20
131/131 [==============================] - 52s 391ms/step - loss: 1.0990 - categorical_accuracy: 0.2958 - adl: 0.0000e+00 - fall: 0.0000e+00 - lying_down: 0.0000e+00
Epoch 11/20
131/131 [==============================] - 52s 393ms/step - loss: 1.0990 - categorical_accuracy: 0.3359 - adl: 0.0000e+00 - fall: 0.0000e+00 - lying_down: 0.0000e+00
Epoch 12/20
131/131 [==============================] - 52s 392ms/step - loss: 1.0989 - categorical_accuracy: 0.3359 - adl: 0.0000e+00 - fall: 0.0000e+00 - lying_down: 0.0000e+00
Epoch 13/20
  5/131 [>.............................] - ETA: 50s - loss: 1.0984 - categorical_accuracy: 0.3938 - adl: 0.0000e+00 - fall: 0.0000e+00 - lying_down: 0.0000e+00

In [ ]:
print(
    classification_report(
        y_true=train_datagen.classes,
        y_pred=y_preds,
        target_names=list(val_datagen.class_indices.keys()),
    )
)