In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras import layers
from tensorflow.keras.initializers import Constant
from test_scripts.load_images import get_video_seq
from utils.utility_functions import listdir_nohidden_sorted as lsdir
from vision.vision_utils.video_seq_generator import VideoSeqGenerator
import pandas as pd
import numpy as np
from random import randrange
from sklearn.preprocessing import LabelBinarizer

In [3]:
MED_FALL = '/home/jovyan/work/MED_Fall'
GROUND_TRUTH_PATH = f'{MED_FALL}/vision/vision_dataset/ground_truth_new'
FRAMES_PATH = f'{MED_FALL}/vision/vision_dataset/extracted_frames'

In [4]:
def get_cam(name: str) -> int:
    start = name.find("cam_")
    ind = start + 4
    cam_number = name[ind]
    return int(cam_number)

In [5]:
dfs = []
for file in lsdir(GROUND_TRUTH_PATH):
    df = pd.read_csv(file)
    dfs.append(df)
dataset = pd.concat(dfs, ignore_index=True, axis=0)
dataset = dataset.iloc[:, 2:]
dataset

,micro_labels,macro_labels,ar_labels,frame_name
0,lie_still,lying_down,actor_repositioning,actor_1_bed_cam_1_0000
1,lie_still,lying_down,actor_repositioning,actor_1_bed_cam_1_0001
2,lie_still,lying_down,actor_repositioning,actor_1_bed_cam_1_0002
3,lie_still,lying_down,actor_repositioning,actor_1_bed_cam_1_0003
4,lie_still,lying_down,actor_repositioning,actor_1_bed_cam_1_0004
...,...,...,...,...
1182295,stand_up_from_floor,adl,actor_repositioning,actor_4_chair_full_ph_cam_7_4615
1182296,stand_up_from_floor,adl,actor_repositioning,actor_4_chair_full_ph_cam_7_4616
1182297,stand_up_from_floor,adl,actor_repositioning,actor_4_chair_full_ph_cam_7_4617
1182298,stand_up_from_floor,adl,actor_repositioning,actor_4_chair_full_ph_cam_7_4618
1182299,stand_up_from_floor,adl,actor_repositioning,actor_4_chair_full_ph_cam_7_4619

In [ ]:
cams = []
for name in dataset["frame_name"]:
    cam = get_cam(name)
    cams.append(cam)

In [ ]:
dataset["cam"] = pd.Series(cams)
dataset

In [6]:
dataset = dataset.loc[dataset["ar_labels"] == "on_air"]
dataset

,micro_labels,macro_labels,ar_labels,frame_name
206,sit_up_from_lying,adl,on_air,actor_1_bed_cam_1_0206
207,sit_up_from_lying,adl,on_air,actor_1_bed_cam_1_0207
208,sit_up_from_lying,adl,on_air,actor_1_bed_cam_1_0208
209,sit_up_from_lying,adl,on_air,actor_1_bed_cam_1_0209
210,sit_up_from_lying,adl,on_air,actor_1_bed_cam_1_0210
...,...,...,...,...
1182213,crouched_still,falling,on_air,actor_4_chair_full_ph_cam_7_4533
1182214,crouched_still,falling,on_air,actor_4_chair_full_ph_cam_7_4534
1182215,crouched_still,falling,on_air,actor_4_chair_full_ph_cam_7_4535
1182216,crouched_still,falling,on_air,actor_4_chair_full_ph_cam_7_4536
1182217,crouched_still,falling,on_air,actor_4_chair_full_ph_cam_7_4537

In [7]:
le = LabelBinarizer()
le.fit(dataset["macro_labels"])
le_name_mapping = dict(zip(le.classes_, le.transform(le.classes_)))
le_name_mapping

{'adl': array([1, 0, 0]),
 'falling': array([0, 1, 0]),
 'lying_down': array([0, 0, 1])}

In [8]:
actor_1 = dataset["frame_name"].str.contains("actor_1") 
actor_1
#actor_1_cam_1_dataset = actor_1[actor_1.str.contains("cam_1")]
#actor_1_cam_1_dataset

206         True
207         True
208         True
209         True
210         True
           ...
1182213    False
1182214    False
1182215    False
1182216    False
1182217    False
Name: frame_name, Length: 386106, dtype: bool

## Train test split

In [9]:
split_ratio = 0.9
split = int(len(dataset) * split_ratio)
train_set = dataset.iloc[:split, :]
val_set = dataset.iloc[split:, :]

In [10]:
train_set

              micro_labels macro_labels ar_labels              frame_name
206      sit_up_from_lying          adl    on_air  actor_1_bed_cam_1_0206
207      sit_up_from_lying          adl    on_air  actor_1_bed_cam_1_0207
208      sit_up_from_lying          adl    on_air  actor_1_bed_cam_1_0208
209      sit_up_from_lying          adl    on_air  actor_1_bed_cam_1_0209
210      sit_up_from_lying          adl    on_air  actor_1_bed_cam_1_0210
...                    ...          ...       ...                     ...
1015702       fall_lateral      falling    on_air  actor_4_bed_cam_1_1822
1015703       fall_lateral      falling    on_air  actor_4_bed_cam_1_1823
1015704       fall_lateral      falling    on_air  actor_4_bed_cam_1_1824
1015705       fall_lateral      falling    on_air  actor_4_bed_cam_1_1825
1015706       fall_lateral      falling    on_air  actor_4_bed_cam_1_1826

[347495 rows x 4 columns]

In [11]:
print(train_set["macro_labels"].value_counts())
print(val_set["macro_labels"].value_counts())

adl           244755
falling        75454
lying_down     27286
Name: macro_labels, dtype: int64
adl           25081
falling       12858
lying_down      672
Name: macro_labels, dtype: int64

In [12]:
val_set

,micro_labels,macro_labels,ar_labels,frame_name
1015707,fall_lateral,falling,on_air,actor_4_bed_cam_1_1827
1015708,fall_lateral,falling,on_air,actor_4_bed_cam_1_1828
1015709,fall_lateral,falling,on_air,actor_4_bed_cam_1_1829
1015710,fall_lateral,falling,on_air,actor_4_bed_cam_1_1830
1015711,fall_lateral,falling,on_air,actor_4_bed_cam_1_1831
...,...,...,...,...
1182213,crouched_still,falling,on_air,actor_4_chair_full_ph_cam_7_4533
1182214,crouched_still,falling,on_air,actor_4_chair_full_ph_cam_7_4534
1182215,crouched_still,falling,on_air,actor_4_chair_full_ph_cam_7_4535
1182216,crouched_still,falling,on_air,actor_4_chair_full_ph_cam_7_4536
1182217,crouched_still,falling,on_air,actor_4_chair_full_ph_cam_7_4537

## Undersample train set

In [ ]:
adl_train = train_set.loc[train_set["macro_labels"] == "adl"]
adl_train

In [ ]:
adl_train_sample = adl_train.iloc[:-25000]
adl_train_sample

In [ ]:
train_set = train_set.drop(adl_train_sample.index, axis=0)
train_set

In [ ]:
print(train_set["macro_labels"].value_counts())
print(val_set["macro_labels"].value_counts())

## Generators

In [20]:
SEQ_LEN: int = 20
BATCH_SIZE: int = 32
INPUT_SHAPE: tuple[int,int,int] = (112,112,3)

train_gen = VideoSeqGenerator(frames_path=FRAMES_PATH,
                        df = train_set,
                        seq_len = SEQ_LEN,
                        batch_size = BATCH_SIZE,
                        label_encoder = le,
                        input_shape = INPUT_SHAPE,
                       )

val_gen = VideoSeqGenerator(frames_path=FRAMES_PATH,
                        df = val_set,
                        seq_len = SEQ_LEN,
                        batch_size = BATCH_SIZE,
                        label_encoder = le,
                        input_shape = INPUT_SHAPE,
                       )


train_labels, train_cams = train_gen.test()
val_labels, val_cams = val_gen.test()



print(len(train_labels), len(train_cams))

/home/jovyan/work/MED_Fall/vision/vision_utils/video_seq_generator.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.df["cam"] = cams

17375 17375

In [14]:
pd.Series(train_gen.classes_).value_counts()

adl           12247
falling        3781
lying_down     1347
dtype: int64

In [15]:
pd.Series(val_gen.classes_).value_counts()

adl           1253
falling        644
lying_down      34
dtype: int64

In [16]:
train_gen.df

              micro_labels macro_labels ar_labels              frame_name  cam
206      sit_up_from_lying          adl    on_air  actor_1_bed_cam_1_0206    1
207      sit_up_from_lying          adl    on_air  actor_1_bed_cam_1_0207    1
208      sit_up_from_lying          adl    on_air  actor_1_bed_cam_1_0208    1
209      sit_up_from_lying          adl    on_air  actor_1_bed_cam_1_0209    1
210      sit_up_from_lying          adl    on_air  actor_1_bed_cam_1_0210    1
...                    ...          ...       ...                     ...  ...
1015702       fall_lateral      falling    on_air  actor_4_bed_cam_1_1822    1
1015703       fall_lateral      falling    on_air  actor_4_bed_cam_1_1823    1
1015704       fall_lateral      falling    on_air  actor_4_bed_cam_1_1824    1
1015705       fall_lateral      falling    on_air  actor_4_bed_cam_1_1825    1
1015706       fall_lateral      falling    on_air  actor_4_bed_cam_1_1826    1

[347495 rows x 5 columns]

In [17]:
val_gen.df

,micro_labels,macro_labels,ar_labels,frame_name,cam
1015707,fall_lateral,falling,on_air,actor_4_bed_cam_1_1827,1
1015708,fall_lateral,falling,on_air,actor_4_bed_cam_1_1828,1
1015709,fall_lateral,falling,on_air,actor_4_bed_cam_1_1829,1
1015710,fall_lateral,falling,on_air,actor_4_bed_cam_1_1830,1
1015711,fall_lateral,falling,on_air,actor_4_bed_cam_1_1831,1
...,...,...,...,...,...
1182213,crouched_still,falling,on_air,actor_4_chair_full_ph_cam_7_4533,7
1182214,crouched_still,falling,on_air,actor_4_chair_full_ph_cam_7_4534,7
1182215,crouched_still,falling,on_air,actor_4_chair_full_ph_cam_7_4535,7
1182216,crouched_still,falling,on_air,actor_4_chair_full_ph_cam_7_4536,7
1182217,crouched_still,falling,on_air,actor_4_chair_full_ph_cam_7_4537,7

In [18]:
    metrics=[
        tf.keras.metrics.CategoricalAccuracy(),
        tf.keras.metrics.Recall(class_id=0, name="adl"),
        tf.keras.metrics.Recall(class_id=1, name="fall"),
        tf.keras.metrics.Recall(class_id=2, name="lying_down"),
    ]

2022-08-21 22:17:44.887425: I tensorflow/core/platform/cpu_feature_guard.cc:142] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.1 SSE4.2 AVX AVX2 AVX512F FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2022-08-21 22:17:45.347341: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1510] Created device /job:localhost/replica:0/task:0/device:GPU:0 with 21353 MB memory:  -> device: 0, name: NVIDIA RTX A5000, pci bus id: 0000:65:00.0, compute capability: 8.6

In [19]:
model = Sequential()
model.add(layers.Input(shape=(SEQ_LEN,) + INPUT_SHAPE))
#model.add(layers.Rescaling(scale=1./255))
model.add(layers.Conv3D(64,(3,3,3),activation='relu', padding='same'))
model.add(layers.MaxPooling3D((1,2,2), strides=(1,2,2), padding='same'))
model.add(layers.Conv3D(128,(3,3,3),activation='relu', padding='same'))
model.add(layers.MaxPooling3D((2,2,2), padding='same'))
model.add(layers.Conv3D(256,(3,3,3),activation='relu', padding='same'))
model.add(layers.Conv3D(256,(2,2,2),activation='relu', padding='same'))
model.add(layers.MaxPooling3D((2,2,2), padding='same'))
model.add(layers.Conv3D(512,(3,3,3),activation='relu', padding='same'))
model.add(layers.Conv3D(512,(2,2,2),activation='relu', padding='same'))
model.add(layers.MaxPooling3D((2,2,2), padding='same'))
model.add(layers.Conv3D(512,(3,3,3),activation='relu', padding='same'))
model.add(layers.Conv3D(512,(2,2,2),activation='relu', padding='same'))
model.add(layers.MaxPooling3D((2,2,2), padding='same'))
model.add(layers.Flatten())
model.add(layers.Dense(4096,'relu'))
model.add(layers.Dense(4096,'relu'))
model.add(layers.Dense(3,'softmax'))
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv3d (Conv3D)              (None, 20, 112, 112, 64)  5248
_________________________________________________________________
max_pooling3d (MaxPooling3D) (None, 20, 56, 56, 64)    0
_________________________________________________________________
conv3d_1 (Conv3D)            (None, 20, 56, 56, 128)   221312
_________________________________________________________________
max_pooling3d_1 (MaxPooling3 (None, 10, 28, 28, 128)   0
_________________________________________________________________
conv3d_2 (Conv3D)            (None, 10, 28, 28, 256)   884992
_________________________________________________________________
conv3d_3 (Conv3D)            (None, 10, 28, 28, 256)   524544
_________________________________________________________________
max_pooling3d_2 (MaxPooling3 (None, 5, 14, 14, 256)    0
_________________________________________________________________
conv3d_4 (Conv3D)            (None, 5, 14, 14, 512)    3539456
_________________________________________________________________
conv3d_5 (Conv3D)            (None, 5, 14, 14, 512)    2097664
_________________________________________________________________
max_pooling3d_3 (MaxPooling3 (None, 3, 7, 7, 512)      0
_________________________________________________________________
conv3d_6 (Conv3D)            (None, 3, 7, 7, 512)      7078400
_________________________________________________________________
conv3d_7 (Conv3D)            (None, 3, 7, 7, 512)      2097664
_________________________________________________________________
max_pooling3d_4 (MaxPooling3 (None, 2, 4, 4, 512)      0
_________________________________________________________________
flatten (Flatten)            (None, 16384)             0
_________________________________________________________________
dense (Dense)                (None, 4096)              67112960
_________________________________________________________________
dense_1 (Dense)              (None, 4096)              16781312
_________________________________________________________________
dense_2 (Dense)              (None, 3)                 12291
=================================================================
Total params: 100,355,843
Trainable params: 100,355,843
Non-trainable params: 0
_________________________________________________________________

In [21]:
model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=metrics)

In [ ]:
history = model.fit(train_gen, validation_data=val_gen, epochs=200)

2022-08-21 22:18:05.398561: I tensorflow/compiler/mlir/mlir_graph_optimization_pass.cc:185] None of the MLIR Optimization Passes are enabled (registered 2)

Epoch 1/200

2022-08-21 22:18:07.190850: I tensorflow/stream_executor/cuda/cuda_dnn.cc:369] Loaded cuDNN version 8201
2022-08-21 22:18:11.907478: I tensorflow/stream_executor/cuda/cuda_blas.cc:1760] TensorFloat-32 will be used for the matrix multiplication. This will only be logged once.

 73/542 [===>..........................] - ETA: 3:36 - loss: 0.9178 - categorical_accuracy: 0.6742 - adl: 0.8442 - fall: 0.0000e+00 - lying_down: 0.0000e+00

In [ ]:
y_preds = model.predict(val_gen)